* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #353535;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
body h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 1rem;
    font-size: 1.5rem;
}
.container {
    background-color: rgb(7, 2, 45);
    width: 100%;
    max-width: 1000px;
    padding: 4rem 3rem;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.container .counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
.container .counter .count {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.3rem;
    padding-bottom: 7px;
}
.container .counter p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(249, 255, 179);
    font-size: .8rem;
}